<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' >
    <title>Tacos and Puroshkis</title>
</head>
<body>
    <h1>Welcome to Taco and Piroshkis Cafe!</h1>
    <a href="/">Home</a>
    <a href="/tacos">Tacos</a>
    <a href="/piroshkis">Piroshkis</a>